@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icon');
@import "~bootstrap/scss/bootstrap";
@import '~vuetify/dist/vuetify.min.css';
@import './slotTypeDetails.scss';
@import './orgStructure.scss';

.conteiner {
    display: flex;
    flex-direction: column;
    margin: 50px 15%;
}
.conteiner.slot{
 
    margin: 50px 25%;
}

.table {
    display: flex;
    flex-direction: column;
    margin: 50px 15%;
}
.v-toolbar__content{
    padding: 4px 50px;
}

.v-content{
    padding-top: 50px !important;
}

.v-application--wrap {
    min-height: 550px !important;
}

.titleinf {
    font-size: 30px;
}

.v-card {
    padding: 0 4%;
}
.v-card.slot {
    padding: 0 ;
}


.v-card__title {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.v-card__text {
    padding-bottom: 0;
}
.v-card__text.slot {
    padding: 0 0 0 4%;
}


.v-btn {
    margin: 1%;
}

.filters {
    display: flex;
    width: 50%;
}

.filters>div {
    margin: 3%;
}

.act {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.v-input--selection-controls {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.col{
    padding: 0 10px !important;
}

.encabezado{
    margin: 15px;
    width: 50%;
    border-bottom: 1px rgb(68, 66, 66) solid;
}