.titleinf.slot {
    font-size: 25px;
    padding: 5px;
    border-bottom: 1px rgba(0, 0, 0, 0.466) solid;
    width: 50%;
}

.title-slot {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.164);
    height: 25px;
    padding-left: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-slot>h4 {
    margin: 0;
}

.title-slot>div>.v-icon {
    margin-right: 15px;
}

.title-slot>h6 {
    margin: 0;
}

.p-slot {
    display: flex;
    justify-content: space-between;
}

.controls-slot {
    display: flex;
    align-items: center;
}

.controls-slot>.v-btn {
    margin-right: 15px;
}

.sw-slot {
    margin-right: 20px;
    padding-top: 20px;
}

.text-slot {
    margin: 10px 0 10px 10px;
    padding: 10px 0 10px 10px;
}

.text-slot.pro {
    margin: 0 3% 10px 10px;
    padding: 0 3% 10px 10px;

}


.table-slot {

    margin: 0 6%;
    width: 85%;
}

.table-slot>thead {

    background-color: rgba(0, 0, 0, 0.164);
    border: 1px rgba(0, 0, 0, 0.247) solid;

}

.table-slot>thead>tr>td {
    padding: 2px 10px;
    font-size: 14px;
    height: 25px;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-slot>tbody>tr,
.table-slot>tbody>tr>td {
    padding: 2px 10px;
    font-size: 14px;
    height: 25px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px rgba(0, 0, 0, 0.164) solid;

}

.p-table {
    margin: 0 10px !important;
}

.btn-table {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.type {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.type>.v-input {
    padding: 0;
}

.v-btn--icon.v-size--default {
    height: 20px;
    width: 20px;
}

.v-btn--icon.v-size--default>.v-btn__content {
    height: 10px;
    width: 10px;
}

.table-template>.v-data-table__wrapper>table {
    table-layout: fixed;
}

.table-template>.v-data-table__wrapper>table>thead>tr>th,
.table-template>.v-data-table__wrapper>table>tbody>tr>td {
    table-layout: fixed;
    padding: 10px ;
}





